<!DOCTYPE html>
<html>
<head>
  <title>BurningManArtGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <!-- <div id="react_div"></div> -->
  <%= javascript_include_tag 'application' %>
<%= yield %>

</body>
</html>
