<!DOCTYPE html>
<html>
<head>
  <title>BurningManArtGuide</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%= javascript_include_tag 'application' %>
  <%= yield %>

</body>
</html>

