/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  background-image: url(http://i.imgur.com/QMpjuV4.jpg);
  /*background-image: image_url('http://i.imgur.com/QMpjuV4.jpg');*/
  /*background-image: url(image_path('bm.jpg'));*/
  /*background-image: url('/assets/bm.jpg');*/
  /*background-image: asset_path('bm.jpg');*/
  background-size: 100%;
  background-attachment: fixed;
 }

 .body_wrapper{
  /*text-align: center;*/
 }

 .installation_box{
  /*border: 1px solid lightgrey;*/
 }

 .tour_box{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  /*background-color: skyblue;*/
  /*opacity: 0.1;*/
  /*border: 1px solid lightgrey;*/
}




.installation_wrapper {
  /*margin: auto;*/
  /*text-align: center;*/
  margin: 1%;
  width: 30%;
  padding: 1%;
  display: inline-block;
  vertical-align: top;
  background-color: lightgrey;
  border: 1px solid lightgrey;
}

.tour_item_wrapper{
  /*margin: auto;*/
  /*text-align: center;*/
  margin: 1%;
  width: 30%;
  padding: 1%;
  display: inline-block;
  vertical-align: top;
  background-color: lightgrey;
  /*border: 1px solid lightgrey;*/
}



.installation_img {
  width: 100%;
  border: 1px solid skyblue;
}

.tour_img{
  width: 100%;
  border: 1px solid skyblue;
}